<% @users.each do |u|%>
	<% if u[:admin] == true %>
		 <li><%= link_to "#{u[:first_name]} #{u[:last_name]}", admin_path(u[:id]) %></li>
	<% end %>
<% end %>

<%= link_to "User Pannel", user_path(session[:user_id]) %>