<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>
	<%= @user.email %><br>
	Admin: <%= @user.admin %>
</p>

<section>admins section (Y U no do this yet?!?)</section>

<section>tasks section (Y U no do this yet?!?)</section>

<section>payments section (Y U no do this yet?!?)</section>
