<h1>GlassEvents group event planning</h1>

<p>GlassEvents is a tool to add transparency to the process for a group of people to plan an event.   This demo is setup with and example class reunion.  Everyone attending the reunion is able to sign up and view all planning activity, allowing each attendee to see who is doing the work of organizing the event, and what the event will really cost.</p> 

<p>The app features a custom, multi-level user authentication system.  The event creator can promote any user to the admin level, and demote any admin back to a regular user.  The event creator is also, currently, the only user who can select a quote for a given service as the selected provider for the event.</p>

<p>Any administrator can add a new service to the event.  They can also add as many quote as they please to any service.</p>

<p>Once a quote has been selected by the event creator, the user panel will update the service to show a quote has been chosen, and it's price.</p>

<p>This is the first Ruby on Rails project that I created during my 12 week intensive web development course at General Assembly.  Please <%= mail_to "justinkemmerer@gmail.com", "email", subject: "GlassEvents"  %> me with any feedback or questions you may have.</p>

