<h1>Welcome to the reunion planner!</h1>

<p>This is the planning site for the class of 1999's 15 year reunion.  lumni are welcome to join and view the progress of planning, include all quotes and payments.</p>

<a href="/sessions/new">Log In</a> 
<a href="/users/new">Sign Up</a>