<h1>Welcome to the reunion planner!</h1>

<p>This is the planning site for the class of 1999's 15 year reunion.  Alumni are welcome to join and view the progress of planning, include all quotes and payments.</p>

<%= link_to "Log in", new_session_path %>

<%= link_to "Sign Up", new_user_path %>